.kz-btn {
    width: 90%;
    margin: 4px;
}
.kz-input-text {
    margin-top: 3px;
    width: 96%;
    margin-left: 6px;    
}
.kz-pad-20 {
    padding: 20px;
}
.col-xs-3, .col-xs-9 {
    padding: 0px;
}
.divDad {
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.divCard {
    width: 350px;
}
.divBody {
    background-color: #aaaa;
}